{% extends "index.html" %}


{% block main %}

    <div class="mt-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="">Kullanıcı adı</label>
            <input type="text" name="username" value="{{username}}" required class="form-control mb-2">

            <label for="">Email</label>
            <input type="email" name="email" value="{{email}}" required class="form-control mb-2">

            {{profileForm}}

            <input type="submit" value="Güncelle" class="btn btn-primary mt-2">

            <div class="border-top pt-2 mt-2">
                <label for="">Mevcut Şifre</label>
                <input type="password" name="oldPassword" class="form-control mb-2">
                <label for="">Yeni Şifre</label>
                <input type="password" name="newPassword1" class="form-control mb-2">
                <label for="">Şifrenizi Onaylayın</label>
                <input type="password" name="newPassword2" class="form-control mb-2">
                <input type="submit" value="Şifreyi Değiştir" name="change" class="btn btn-primary mt-2">
            </div>
        </form>
    </div>

{% endblock main %}